@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*
{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    
    background-attachment: fixed;
}
body
{
    background-color: antiquewhite;
}
header
{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.logo
{
    color: #069370;
    height: 120px;
    padding: 0 2px;
    background: #fff;
    box-sizing: border-box;
    float: left;
    text-decoration: none;
}
nav
{
    float: right;
}
.clearfix
{
    clear: both;
}
nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover
{
    background: #069370;
    color: #fff;
    transition: 0.5s;
}

.cases
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}


@media (max-width:1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width:768px)
{
    .menu-bar
    {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #fff;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #069370;
    }
    .menu-bar:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-bar.active:before
    {
        content: '\f00d';
        font-family: fontAwesome;
        line-height: 40px;
    }
    nav
    {
        display: none;
    }
    nav.active
    {
        display: block;
        width: 100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li
    {
        margin: 0;
    }
}



.text
{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.footer
{
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul li
{
    list-style: none;
}
.footer ul li a
{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
.footer ul li a img
{
    filter: invert(1);
    max-width: 20px;
}
@media (max-width: 991px)
{
    .footer
    {
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer ul
    {
        margin-bottom: 20px;
    }
}
